body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#game-intro {
  background-color: rgb(128, 58, 0);
  background-position: center;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100vh;
}

h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
  color: #fff;
}

.Ruby-pic {
  width: 265px;
  height: 255px;
  position: relative;
}

.container {
  display: flex;
  justify-content: row;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}

#game-intro {
  padding: 20px 0px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-color: #d9d4a6;
  /* background-size: cover; */
  /* animation: slide 5s linear infinite; */
}


#moon {
  position: absolute;
  top: 10px;
  left: 500px;
  background-size: cover;
  background-image: url("../images/desert_map/pl_01.png");
  width: 100px;
  height: 100px;
}

.lives-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
}

.heart {
  width: 55px;
  height: 50px;
  padding: 0px 2px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../images/bonus/h_02.PNG");
}

.heart-empty {
  background-image: url("../images/bonus/h_01.PNG");
}

.obstacle {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 50px;
}

.obstacle-type-1 {
  background-image: url("../images/desert_map/dec_01.png");
}

.obstacle-type-2 {
  background-image: url("../images/desert_map/dec_02.png");
}

.obstacle-type-3 {
  background-image: url("../images/desert_map/dec_03.png");
}

#platform {
  position: absolute;
  bottom: 0;
  background-image: url("../images/desert_map/P_01.PNG");
  background-repeat: repeat-x;
  background-size: calc(1958px / 3) auto;
  width: 100%;
  height: 740px;
  transform: translateY(80%);
  animation: movePlatform 10s linear infinite;
}

.parallax {
  /* Ensure the divs take up full viewport and are positioned correctly */
  width: 100%;
  position: absolute;
  bottom: 0;

  /* Set up the background image properties */
  background-repeat: repeat-x;
  /* background-position: center; */
  /* background-size: cover; */
}

.parallax1 {
  background-image: url("../images/desert_map/fg_01.PNG");
  background-repeat: repeat-x;
  animation: moveBackground1 15s linear infinite;
  height: 557px;
  width: 4756px;
}

.parallax2 {
  background-image: url("../images/desert_map/sn_02.PNG");
  background-repeat: repeat-x;
  animation: moveBackground2 5s linear infinite;
  height: 333px;
  width: 2562px;
}

.player {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  animation: run-animation 0.5s steps(8) infinite;
}