@font-face {
  font-family: 'CustomFont';
  src: url('../font family/River Adventurer.ttf');
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'CustomFont';
}

#game-intro {
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-image: url("../images/desert_map/Desert_map_demo.png");
}

#game-end {
  display: none;
}

h1 {
  font-family: 'CustomFont', Geneva, Verdana, sans-serif;
  font-size: 76pt;
  font-weight: 100;
  margin: 20px;
  color: #fff;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

.Ruby-pic {
  width: 285px;
  height: 275px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#game-intro {
  padding: 20px 0px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  font-family: 'CustomFont';
  font-weight: 100;
  color: #fff;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  margin-bottom: 20px;
}

button#pause-button {
  position: relative;
  top: 78px;
  left: -793px;
  height: 52px;
  font-size: 25px;
  width: 98px;
  padding: 0px;
}

p {
  color: #fff;
  font-size: 25px;
  text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-color: #d9d4a6;
  z-index: 1;
}

#game-end {
  position: absolute;
  display: none;
  font-size: 50px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  top: 150px;
  left: 40%;
  width: 100%;
  max-width: 400px;
  height: 385px;
  z-index: 2;
}

.game-end {
  display: flex;
  flex-direction: column;
}

#moon {
  position: absolute;
  top: 10px;
  left: 45%;
  background-size: cover;
  background-image: url("../images/desert_map/pl_01.png");
  width: 100px;
  height: 100px;
}

.lives-container {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: row;
}

.heart {
  width: 55px;
  height: 50px;
  padding: 0px 2px;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-image: url("../images/bonus/h_02.PNG");
}

.heart-empty {
  background-image: url("../images/bonus/h_01.PNG");
}

.gem {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 55px;
  height: 55px;
  background-image: url("../images/bonus/ch_02.png");
}

.obstacle {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  width: 150px;
  height: 75px;
}

.obstacle-type-1 {
  background-image: url("../images/desert_map/dec_01.png");
}

.obstacle-type-2 {
  background-image: url("../images/desert_map/dec_02.png");
}

.obstacle-type-3 {
  background-image: url("../images/desert_map/dec_03.png");
}

#platform {
  position: absolute;
  bottom: 0;
  background-image: url("../images/desert_map/P_01.PNG");
  background-repeat: repeat-x;
  background-size: calc(1958px / 3) auto;
  width: 100%;
  height: 740px;
  transform: translateY(80%);
  animation: movePlatform 10s linear infinite;
}

.parallax {
  width: 100%;
  position: absolute;
  bottom: 0;

  background-repeat: repeat-x;
}

.parallax1 {
  background-image: url("../images/desert_map/fg_01.PNG");
  background-repeat: repeat-x;
  animation: moveBackground1 15s linear infinite;
  height: 557px;
  width: 4756px;
}

.parallax2 {
  background-image: url("../images/desert_map/sn_02.PNG");
  background-repeat: repeat-x;
  animation: moveBackground2 5s linear infinite;
  height: 333px;
  width: 2562px;
}

.player {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: absolute;
  animation: run-animation 0.5s steps(8) infinite;
}

.score-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 8%;
  width: 100px;


}

.score,
.gemScore {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 120px;
  min-width: 120px;
  height: 80px;
  font-size: 30px;
  color: #fff;

}

.scorePic,
.gemPic {
  width: 50px;
  height: 50px;
}

p#score,
p#gemScore {
  margin: 25px 10px;
}